.titulo {
	font-family: roboto, arial, sans-serif;
	padding-top: 0.5%;
	color: white;
	margin: 0;
	text-align: center;
}

header{
	background-color: #000000;
	height: 100px;
	width: 100%;
	top:0;
	right:0;
	left:0;
	position: relative;
	z-index: 1;
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
}

.menu {
	font-size: 20px;
	color: white;
	display: inline-block;
	padding-left: 5%;
	padding-top: 1.5%;
}

body {
    color: black;
    padding: 0px;
    font: 14px roboto, Helvetica, Arial, sans-serif;
    margin: 0px;
    overflow: hidden;
}

.tituloguardar {
	text-align: center;
	color: white;
	font-size: 36px;
	margin-left: 0.5%;
	margin-bottom: 5%;
	margin-top: 60px;
}

.lista{
	font-family: roboto;
	font-size: 30px;
	overflow:auto;
	margin-bottom: 0%;
	color: white;
}

a {
	color: blue;
}

#formulario{
    width: 24.5%;
    height: calc(100vh - 10px);
    margin: auto;
    background: #212121;
    float: right;
    display: none;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.7);
}

#body:target #formulario{
	display:block;
	opacity: 1;
	transform: translateY(0px);
}

.mdl-data-table {
	width: 100%;
}

.fondo {
	height: calc(100vh - 10px);	
	background-color: #484848;
	overflow-x: hidden;
	overflow-y: auto;
	padding-left: 120px;
	padding-right: 120px;
	box-sizing: border-box;
}

.bar{
	padding-left:10%;
	font-size: 20px;
}

th {
	background-color: grey;
}

.Busqueda {
	width: 40%;
	height: 30px;
	border-radius: 10px 10px;
    border: 1.5px solid #3D5B58;
    padding-left: 1%;
    outline: none;
    box-shadow: 0 3px rgba(0, 0, 0, 0.5);
}

.cerrar {
	padding: 6px 12px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color:  #FFFFFF;
    background-color: #474040;
    border: none;
    border-radius: 25px;
    box-shadow: 0 5px rgba(0, 0, 0, 0.4);
    float: right;
    margin-top: 3%;
    margin-right: 2%;
    text-decoration: none;
}

.cerrar:hover {
	background-color: black;
}

.cerrar:active {
    background-color: black;
    box-shadow: 0 7px rgba(0, 0, 0, 0.6);
    transform: translateY(4px);
}

footer {
	height: 150px;
	font-size: 30px;
	text-align: center;
	font-family: roboto, arial, sans-serif;
	color: white;
	margin-top: 20px;
}

.mdl-button {
  background-color: gray;
  color: white;
  position: absolute;
  right: 0;
  top: 10px;
}

.search-component {
  position: relative;
}

.search-component .mdl-button {
  background-color: unset;
  color: white;
  position: absolute;
  right: 53%;
  top: 20px;
}

.search-component .mdl-textfield {
	width: 44.5%;
}

.mdl-button:hover {
	background-color: #D8D8D8;
}

.AddNewComponent .mdl-button { 
   background-color: #f44336;
   top: 87%;
   left: 91%;
}

.Adelante .mdl-button {
	position: relative;
	margin-left: 43%;
	background-color: #f44336;
}

#formulario a {
  background-color: transparent;
  color: white;
  position: absolute;
  right: 4%
}

.mdl-data-table th {
	color: #525354;
	text-align: center;
	font-size: 18px;
}

th {
	background-color: #b6bdc6;
}

.mdl-data-table td, .mdl-data-table td .mdl-data-table__select {
	text-align: left;
}

.rightbarelement .mdl-textfield {
	margin-left: 5.5%;
}

.rightbarelement .mdl-textfield .mdl-textfield__input {
	width: 100%;
}

.rightbarelemnt .mdl-textfield .mdl-textfield__label {
	margin-left: 5%;
	padding-left: 5%;
	margin-top: 4px;
}

@media only screen and (max-width: 480px) {
	
	.titulo {
		font-size: 40px;
		padding-top: 20px;
	}
	
	.fondo {
		padding-left: 10px;
	}
	
	.AddNewComponent .mdl-button {
		left: 65%;
		z-index: 2;
	}

	.search-component {
		width: 130%;	
	}

	.search-component .mdl-textfield {
		width: 100%;	
	}

	#formulario {
		width: 100%;	
	}

	.search-component .mdl-button {
		right: 7px;
		top: 13px;
	}
}

