.titulo {
	font-size: 40px;
	padding-left: 7.3%;
	color: white;
}

header{
	background-color: #303F9F;
	height: 100px;
	width: 100%;
}

.menu {
	font-size: 20px;
	color: white;
	display: inline-block;
	padding-left: 5%;
	padding-top: 1.5%;
}


body {
    color: black;
    padding: 0px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0px;
    overflow: hidden;
}

.tituloguardar {
	text-align: center;
	color: white;
	font-size: 26px;
	margin-left: 12%;
}

.lista{
	font-family: Arial;
	font-size: 30px;
	padding-left: 10%;
	overflow:auto;
}

#formulario{
    width: 25%;
    height: calc(100vh - 10px);
    margin: auto;
    background: #BBDEFB;
    float: right;
    display: none;
}

#body:target #formulario{
	display:block;
	opacity: 1;
	transform: translateY(0px);
}

#url,
#personas,
#temas,
#fechas{
    width: 70%;
    height: 5%;
    margin: 0px 0px 0px 50px;
    border-radius: 10px 10px;
    border: 3px solid;
    border-color: #303f9f;
    outline: none;
    box-shadow: 0 2.5px rgba(0, 0, 0, 0.8)
}

.button {
	margin-left: 43%;
	margin-top: 10%;
	padding: 7px 17px;
	font-size: 30px;
	cursor: pointer;
    color: #FFFFFF;
	background-color: #F44336;
	border: none;
	border-radius: 360px;
	box-shadow: 0 5px rgba(0, 0, 0, 0.4);
	outline: none;
}

.button:hover {
	background-color: #C62828;
}

.button:active {
    background-color: #C62828;
    box-shadow: 0 7px rgba(0, 0, 0, 0.6);
    transform: translateY(4px);
}

#tabla {
	font-size: 16px;
	margin-left: 10%;
	margin-top: 5%;
	border: solid 4px #303F9F;
	border-collapse: collapse;
}

#tabla td, #tabla th {
    border: 1px solid #ddd;
    padding: 8px;
}


#tabla tr:nth-child(even){background-color: #f2f2f2;}

#tabla tr:hover {background-color: #ddd;}

#tabla th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #303F9F;
    color: white;
}


.fondo {
	height: calc(100vh - 10px);
	width: 75%;
	background-color: #42A5F5;
	overflow-x: hidden;
	overflow-y: auto;
}
.bar{
	padding-left:10%;
	font-size: 20px;
}

th {
	background-color: yellow;
}

.Busqueda {
	width: 40%;
	height: 30px;
	border-radius: 10px 10px;
    border: 3px solid #303f9f;
    padding-left: 1%;
    outline: none;
    box-shadow: 0 3px rgba(0, 0, 0, 0.5);
}

.search {
    padding: 4px 8px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color:  #FFFFFF;
    background-color: #F44336;
    border: none;
    border-radius: 25px;
    box-shadow: 0 5px rgba(0, 0, 0, 0.4);
}

.search:hover {
	background-color: #C62828 ;
}

.search:active {
    background-color: #C62828;
    box-shadow: 0 5px rgba(0, 0, 0, 0.6);
    transform: translateY(4px);
}
.nuevo {
	padding: 4px 8px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color:  #FFFFFF;
    background-color: #F44336;
    border: none;
    border-radius: 25px;
    box-shadow: 0 5px rgba(0, 0, 0, 0.4);
    float: right;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 0.5%;
    text-decoration: none;
}

.nuevo:hover {
	background-color: #C62828;
}

.nuevo:active {
    background-color: #C62828;
    box-shadow: 0 7px rgba(0, 0, 0, 0.6);
    transform: translateY(4px);
}

.cerrar {
	padding: 6px 12px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color:  #FFFFFF;
    background-color: #F44336;
    border: none;
    border-radius: 25px;
    box-shadow: 0 5px rgba(0, 0, 0, 0.4);
    float: right;
    margin-top: 3%;
    margin-right: 2%;
    text-decoration: none;
}
.cerrar:hover {
	background-color: #C62828;
}

.cerrar:active {
    background-color: #C62828;
    box-shadow: 0 7px rgba(0, 0, 0, 0.6);
    transform: translateY(4px);
}


@media only screen and (max-width:800px) {   
    .fondo {
    	width:100%;
    	overflow-x: scroll;
    }
    .tabla {
    	width:100%;
   
    }
     #formulario {
    	width:100%;
    }
}

footer {
	Width:100%;
	height: 100px;
	font-size: 18px;
	text-align: center;
	font-family: arial;
	color: black;
	margin-top: 10px;
}